@import '../../commons/variables/colors.scss';

.cmp-loader {
    border-radius: 50%;
    height: 8em;
    width: 8em;

    // center
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-shadow: -1em 0 $color-peach;
    animation: moon 1s alternate infinite linear;
}

@keyframes moon {
    to {
        box-shadow: 1em 0 $color-peach;
    }
}