@import '../../commons/variables/colors.scss';

.cmp-separator {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;

    svg {
        fill: $color-mars;
        stroke-width: 0;
        width: 300px;
        height: 12px;
    }
}