@import '../../commons/variables/colors.scss';
@import '../../commons/variables/breakpoints.scss';

.cmp-calendar {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto 50px 0;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        &__item {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 33%;
            max-width: 200px;
            padding: 10px;
            border: 1px solid $color-white;

            @include small {
                flex-basis: 20%;
            }

            &--day {
                color: $color-copper;
                font-size: 18px;
            }

            &--name {
                margin-top: 10px;
                flex-basis: 100%;
                text-align: center;
                height: 30px;
            }
        }
    }
}