@import '../variables/colors.scss';

html {
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-black;

    a {
        text-decoration: 0;
    }
}