@import '../../commons/variables/colors.scss';
@import '../../commons/variables/breakpoints.scss';

.cmp-navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background: $color-white;
    color: $color-black;
    text-transform: uppercase;

    &--link {
        font-size: 14px;
        letter-spacing: 1.4px;
        font-weight: bold;

        @include medium {
            font-size: 20px;
            letter-spacing: 2px;
        }

        &:visited {
            color: unset;

            &.current {
                color: $color-mars;
            }
        }
    }
}